# Visual Studio Code and WebStorm Configuration
.vscode/
.idea/

# System Files and Directories
.DS_Store
Thumbs.db

# Local Configuration Files
.env
.env.local
.env.*.local

# TypeScript Source Code
src/
*.tsx

# Compiled JavaScript
dist/

# Test Files
test/
*.spec.ts
*.test.ts
*.test.tsx

# Development and Configuration Files
.github
.husky
docs
.eslintrc.json
.lintstagedrc.json
.prettierrc.json
tsconfig.json
