# Ignore files and folders for npm package

# GitHub actions
.github/workflows

# Husky configuration
.husky

# Node modules
node_modules

# Test files
tests

# Linter configurations
.eslintrc.json
.lintstagedrc.json
.prettierrc.json

# TypeScript configuration
tsconfig.json

# Vite configuration
vite.config.ts

# npm
.npmignore